@font-face {
	font-family: NotoSerif;
	src: url('./../../res/NotoSerif.ttf');
}

html {
	height: 100%;
}

html, button, input {
	font-family: NotoSerif;
}

input, button {
	outline: none
}

body {
	margin: 0;
	padding: 10px;
	height: -webkit-fill-available;
}

.window {
	height: -webkit-fill-available;
	border-radius: 3px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.title-container {
	padding: 10px 15px 10px 15px;
	background-color: #f0f0f0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: 10px;
	-webkit-app-region: drag;
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 25px;
}

.titlebar-button {
	-webkit-app-region: none;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 5px 10px;
	transition: background-color, border 300ms;
}

.titlebar-button:hover, .titlebar-button:focus {
	background-color: #ffffff;
	border: 1px solid #c0c0c0
}

.contents {
	padding: 5px 15px;
	max-height: -webkit-fill-available;
	flex: 1;
}

.date-selection-bar {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.date-selection-bar .inputs-container {
	display: flex;
	justify-content: center;
}

.date-input {
	margin: 0 5px;
	padding: 2px 10px;
	border-radius: 3px;
	border: 1px solid #909090;
}

.days {
	overflow-y: auto;
	max-height: 450px;
}

.day-title {
    font-size: 20px;
    font-weight: 100;
	margin: 5px 0;
}

.day-date {
	font-size: 12px;
	color: #808080;
}

.breakpoint {
	padding-left: 15px;
}

.breakpoint-comment {
    color: #808080;
    font-size: 12px;
}

.day-break {
    border-top: 1px solid #f0f0f0;
	width: 80%
}